<title>About</title>

<style>
    body {
        background-image: url('/static/aboutus.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; /* Repeat the background image vertically */
        background-color: black;
        background-attachment: fixed;
    }

    .about-banner {
        background-color: rgba(0, 0, 0, 0.85); /* Semi-transparent black background */
        color: white;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px; /* Added margin for spacing */
    }

    .developer-box {
        background-color: rgba(0, 0, 0, 0.85); /* Darker background for boxes */
        color: white; /* White text for contrast */
        border: 1px solid #fff; /* White border for visibility */
        padding: 20px;
        margin: 10px;
        flex-basis: 45%; /* Adjust size for desktop */
    }

    .majorcontributors-box {
        background-color: rgba(0, 0, 0, 0.85); /* Darker background for boxes */
        color: white; /* White text for contrast */
        border: 1px solid #fff; /* White border for visibility */
        padding: 20px;
        margin: 10px;
    }

    @media (max-width: 768px) {
        .developer-box {
            flex-basis: 100%; /* Full width on smaller screens */
        }
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- About Section Banner -->
<div class="container-fluid about-banner mt-5">
    <h1>About SIFT</h1>
    <p>
        SIFT is a CoolProp open-source thermofluids solver that is fully compatible with mobile devices with unit testing, documentation, measurement unit options and more. It has Python based solvers for incompressible and compressible orifices that accept Cv, CdA, diameter and flow rate as inputs and outputs. Additionally, we have a fluid property lookup page that makes CoolProp data easily accessible and a phase diagram generator that dynamically generates phase diagrams for every supported fluid.
    </p>
</div>

<!-- Developer Information -->
<div class="container">
    <div class="row">
        <div class="col-md-6 developer-box">
            <h2>Mehul Gupta</h2>
            <p>Mehul Gupta is a propulsion engineer at SpaceX. He graduated with a mechanical engineering degree and a minor in computer science from UT Austin in 2024. He's passionate about creating full stack software tools to optimize engineering applications. He is currently working on the Merlin engine for SpaceX's Falcon rocket family. <a href="https://www.linkedin.com/in/mehul-gupta-0a6896162/">Contact</a></p>
        </div>
        <div class="col-md-6 developer-box">
            <h2>Billy Anderson</h2>
            <p>Billy Anderson is an infrastructure and software engineer at Dell Technologies. He graduated with an electrical and computer engineering degree from UT Austin in 2023. He's passionate about designing cloud infrastructure and storage as well as making useful tools and side projects in his free time. He is currently working on the OS API team for Dell's PowerMax storage arrays. <a href="https://www.linkedin.com/in/william-anderson-643b4b166/">Contact</a></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 majorcontributors-box">
            <h2>Major Contributors</h2>
            <p>Trey Hornsby: Trey is a mechanical engineering student at UT Austin. He's passionate about thermal fluid systems. <a href="https://www.linkedin.com/in/trey-hornsby-930979237/">Contact</a></p>
        </div>
    </div>
</div>
    