<title>Compressible Orifice Calculator</title>

<style>
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; /* Repeat the background image vertically */
        background-color: black;
        color: white;
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
        height: 100vh;
    }
    
    #compressible_orifice_Cd { /* http://www.salares.net/tek/orifice_air_flow.php */
    position: absolute;
    top: 200px; /* Adjust this value for the desired top offset */
    right: 3%; /* Adjust this value for the desired right offset */
    width: 350px; /* Adjust this value for the desired width */
    height: auto; /* This ensures the aspect ratio is maintained while adjusting the width */
    }

    .btn {
        margin-top: 1%;
        display: block;
        margin-left: auto; /* Center the button horizontally */
        margin-right: auto; /* Center the button horizontally */
    }

    /* Adjust the size of form elements */
    .form-control {
        width: 100%; /* Make form elements take up full width */
        margin-bottom: 10px; /* Add some spacing between form elements */
    }
    
    .result-section {
        width: 280px;
        padding: 1%;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0.5vw;
        right: 3%; /* Adjust the right offset as needed */
        position: absolute;
        margin-top: 400px; /* Add margin-top */
    }

    @media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .result-section {
        position: relative; /* Use absolute positioning */
        bottom: 0; /* Position at the bottom of the container */
        margin-top: 20px;
        margin-bottom: 20px;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        }  
    }

    .text-details {
        padding: 1%;
        right: 3%; /* Adjust the right offset as needed */
        position: absolute;
        margin-top: 600px; /* Add margin-top */
    }

    @media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .text-details {
        position: relative; /* Use absolute positioning */
        bottom: 0; /* Position at the bottom of the container */
        margin-top: 0px;
        margin-bottom: 20px;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        text-align: center;
        }  
    }

</style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container-fluid ml-auto">
    <h1 class="ml-auto display-5"><div style="text-align: center; padding: 2%;">Compressible Orifice Calculator</div></h1>
    <div class = "row">
        <div class="col-10 col-md-4 ml-auto">
            <form method="post" id="input_form" action="/">
                <div class="form-group">
                    <label for="upstream_pressure">Upstream Pressure:</label>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="upstream_pressure" name="upstream_pressure" placeholder="Enter pressure" required>
                        <div class="input-group-append">
                            <select class="custom-select" id="pressure_unit" name="pressure_unit">
                                <option value="Pa">Pa</option>
                                <option value="Bar">Bar</option>
                                <option value="MPa">MPa</option>
                                <option value="psia">psia</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Not a number
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="upstream_temperature">Upstream Temperature:</label>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="upstream_temperature" name="upstream_temperature" placeholder="Enter temperature" required>
                        <div class="input-group-append">
                            <select class="custom-select" id="temperature_unit" name="temperature_unit">
                                <option value="K">°K</option>
                                <option value="C">°C</option>
                                <option value="F">°F</option>
                                <option value="R">°R</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Not a number
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="downstream_pressure">Downstream Pressure:</label>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="downstream_pressure" name="downstream_pressure" placeholder="Enter pressure" required>
                        <div class="input-group-append">
                            <select class="custom-select" id="pressure_unit2" name="pressure_unit2">
                                <option value="Pa">Pa</option>
                                <option value="Bar">Bar</option>
                                <option value="MPa">MPa</option>
                                <option value="psia">psia</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Not a number
                        </div>
                    </div>
                </div>
                <div class="form-group needs-validation" novalidate>
                    <label for="fluid_name_dropdown">Fluid Name:</label>
                    <div class="input-group">
                        <select class="custom-select" id="fluid_name_dropdown" name="fluid_name_dropdown" required>
                            <option value="Helium">Helium</option>
                            <option value="Nitrogen">Nitrogen</option>
                            <option value="Oxygen">Oxygen</option>
                            <option value="Air">Air</option>
                            <option value="Hydrogen">Hydrogen</option>
                            <option value="carbondioxide">Carbon Dioxide</option>
                            <option value="Neon">Neon</option>
                            <option value="Argon">Argon</option>
                            <option value="Methane">Methane</option>
                        </select>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox ml-2">
                                <input type="checkbox" class="custom-control-input" id="custom_fluid_checkbox">
                                <label class="custom-control-label" for="custom_fluid_checkbox">Custom</label>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="fluid_name_custom" name="fluid_name_custom" placeholder="Enter fluid name" required disabled>
                    <small id="fluid_name_help" style="font-size: 0.7em; display: none;" class="form-text text-muted">The name must be recognized by CoolProp.</small>
                    <div class="invalid-feedback">
                        Not a valid fluid
                    </div>
                </div>
                <div class="form-group" id="provided_input_group">
                    <label for="provided_input">Select Provided Input:</label>
                    <select class="form-control" id="provided_input" name="provided_input" onchange="toggleProvidedInput()" required>
                        <option value="diameter">Diameter</option>
                        <option value="flowrate">Flowrate</option>
                        <option value="CdA">CdA</option>
                        <option value="Cv">Cv</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Cd">Cd:</label>
                    <input type="number" step="0.0001" class="form-control" id="Cd" name="Cd" placeholder="Enter Cd" required>
                    <div class="invalid-feedback">
                        Not a number
                    </div>
                </div>
                <div class="form-group" id="diameter_input" style="display: block;">
                    <label for="diameter">Orifice Diameter:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="diameter" name="diameter">
                        <div class="input-group-append">
                            <select class="custom-select" id="diameter_unit" name="diameter_unit">
                                <option value="m">m</option>
                                <option value="in">in</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Not a number
                        </div>
                    </div>
                </div>
                <div class="form-group" id="flowrate_input" style="display: none;">
                    <label for="flowrate">Flowrate:</label>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="flowrate" name="flowrate">
                        <div class="input-group-append">
                            <select class="custom-select" id="flowrate_unit" name="flowrate_unit">
                                <option value="kg/s">kg/s</option>
                                <option value="lb/s">lb/s</option>
                            </select>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Not a number
                    </div>
                </div>
                <div class="form-group" id="CdA_input" style="display: none;">
                    <label for="CdA">CdA:</label>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="CdA" name="CdA">
                        <div class="input-group-append">
                            <select class="custom-select" id="CdA_unit" name="CdA_unit">
                                <option value="m^2">m^2</option>
                                <option value="cm^2">cm^2</option>
                                <option value="in^2">in^2</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Not a number
                        </div>
                    </div>
                </div>
                <div class="form-group" id="Cv_input" style="display: none;"> 
                    <label for="Cv">Cv:</label>
                    <input type="number" step="0.0001" class="form-control" id="Cv" name="Cv">
                </div>
                <div class="form-group">
                    <label for="output_type">Select Output Type:</label>
                    <div class="input-group">
                        <select class="form-control" id="output_type" name="output_type" onchange="updateUnits()" required>
                            <option value="flowrate">Calculate Flowrate</option>
                            <option value="CdA">Calculate CdA</option>
                            <option value="Cv">Calculate Cv</option>
                        </select>
                        <div class="input-group-append">
                            <select class="custom-select" id="unit_select_output" required>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" id="calculateButton" class="btn btn-primary">Calculate</button>
            </form>
        </div>
    
        <div class="col-1 col-md-4"></div>
        <div class="col-0 col-md-4"></div>
            <div class="result-section" style="max-width: 100%;">
                <p id="result">Result: <span>{{ result }}</span></p>
            </div>
            <div class="media d-none d-md-block">
                <img src="/static/compressible_orifice_Cd.png" style="max-width: 100%;" alt="Your Image" id="compressible_orifice_Cd">
            </div>
            <div class="text-details" style="max-width: 100%;">Open source, free, documented <a href="https://gitlab.com/mehuld/sift">https://gitlab.com/mehuld/sift</a>
            <br> <!-- Break line for next text -->
            Accepted Coolprop <a href="http://coolprop.org/fluid_properties/PurePseudoPure.html#list-of-fluids">custom fluid names</a>
            </div>
        </div>
    </div>
</div>

<script>
    // this script updates the unit selection dropdown based on which property is selected
    function updateUnits() {

        var dropdown = document.getElementById("output_type");
        var unitSelect = document.getElementById("unit_select_output");
        unitSelect.innerHTML = ""; // Clear previous options

        // Add options based on dropdown selection
        switch (dropdown.value) {
            case "flowrate":
                unitSelect.innerHTML += '<option value="kg/s">kg/s</option>';
                unitSelect.innerHTML += '<option value="lb/s">lb/s</option>>';
                unitSelect.innerHTML += '<option value="SCFM">SCFM</option>>';
                break;
            case "CdA":
                unitSelect.innerHTML += '<option value="in^2">in^2</option>';
                unitSelect.innerHTML += '<option value="m^2">m^2</option>';
                unitSelect.innerHTML += '<option value="cm^2">cm^2</option>';
                break;
            case "Cv":
                unitSelect.innerHTML += '<option value=""></option>';
                break;
        }
    }
    updateUnits();
</script>

<script>
    // Show/hide diameter, flowrate, CdA, or Cv input based on the selected provided input
    function toggleProvidedInput() {
        var selectedInput = document.getElementById('provided_input').value;
        console.log('Selected provided input:', selectedInput);

        // Get references to the input fields
        var diameterInput = document.getElementById('diameter_input');
        var flowrateInput = document.getElementById('flowrate_input');
        var CdAInput = document.getElementById('CdA_input');
        var CvInput = document.getElementById('Cv_input');
        var CdInput = document.getElementById('Cd');

        // Hide all input boxes
        diameterInput.style.display = 'none';
        flowrateInput.style.display = 'none';
        CdAInput.style.display = 'none';
        CvInput.style.display = 'none';

        // Show the selected input box
        document.getElementById(selectedInput + '_input').style.display = 'block';

        // Enable/disable CdInput and adjust its styling
        if (selectedInput === 'diameter') {
            CdInput.disabled = false;
            CdInput.placeholder = 'Enter Cd';
            CdInput.style.backgroundColor = 'white'; // Reset background color
        } else {
            CdInput.disabled = true;
            CdInput.placeholder = 'Disabled for ' + selectedInput;
            CdInput.style.backgroundColor = '#bbb'; // Set background color to darker grey
            CdInput.value = ''; // Clear CdInput value
        }
    }
    // Add event listener for the provided input field
    document.getElementById('provided_input').addEventListener('change', function() {
    // Call toggleProvidedInput function when the provided input changes
        toggleProvidedInput();
    });
</script>

<script>
    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', function() {
        // Get references to elements
        const form = document.getElementById('input_form');
        const resultDiv = document.getElementById('result');
        const calculateButton = document.getElementById('calculateButton');

        // Add a click event listener to the Calculate button
        calculateButton.addEventListener('click', function() {
            console.log('In Calculating Handler');
            //Remove all invalid messages
            var elementsWithInvalidClass = document.querySelectorAll('.is-invalid');
            elementsWithInvalidClass.forEach(function(element) {
                element.classList.remove("is-invalid");
            })

            //Handle fluids/custom-fluids
            fluid_name = document.getElementById('fluid_name_dropdown').value
            isCustomFluid = document.getElementById('custom_fluid_checkbox').checked
            if(isCustomFluid){
                fluid_name = document.getElementById('fluid_name_custom').value
            }

            // Create an object to store form data
            const formData = {
                upstream_pressure: document.getElementById('upstream_pressure').value,
                upstream_temperature: document.getElementById('upstream_temperature').value,
                fluid_name: fluid_name,
                downstream_pressure: document.getElementById('downstream_pressure').value,
                Cd: document.getElementById('Cd').value,
                output_type: document.getElementById('output_type').value,
                provided_input: document.getElementById('provided_input').value,

                //Inputs depending on provided_input
                flowrate: document.getElementById('flowrate').value,
                diameter: document.getElementById('diameter').value,
                Cv: document.getElementById('Cv').value,
                CdA: document.getElementById('CdA').value,

                //Unit conversions
                pressure_unit: document.getElementById('pressure_unit').value,
                temperature_unit: document.getElementById('temperature_unit').value,
                pressure_unit2: document.getElementById('pressure_unit2').value,
                diameter_unit: document.getElementById('diameter_unit').value,
                flowrate_unit: document.getElementById('flowrate_unit').value,
                CdA_unit: document.getElementById('CdA_unit').value,
                output_unit: document.getElementById('unit_select_output').value
            };
            console.log(formData);

            // Send an POST request to the server
            fetch('/compressible-orifice-calc', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Calculate': true
                },
                body: JSON.stringify(formData)
            })
            .then(response =>                 
                    response.json()
            )
            .then(data => {
                console.log('data:',data)
                // Handle the response from the server
                const result = data.result;
                
                //Lazy Error Handling
                if (typeof result === 'string' && result.startsWith('Error: ')) {
                    words = result.split(' ');
                    fieldName = words[1];
                    document.getElementById(fieldName).classList.add('is-invalid')
                }
                else if (typeof result === 'string' && result.indexOf('JSONFluidLibrary') != -1){
                    document.getElementById('fluid_name_custom').classList.add('is-invalid')
                }
                // Update the result section on your page
                resultDiv.textContent = `Result: ${result}`;
            })
            .catch(error => {
                // Handle errors if the request fails
                console.error('Error:', error);
            });
        });
    });
</script>

<script>
    if(window.location.href.includes('sift-container')){
        //Images must be referenced differently while testing via selenium.
        try {
            // Array containing URLs of the background images
            const backgroundImages = [
                "/static/rocket.jpeg", // First image
                "/static/rocket_old.png" // Second image
            ];

            // Select a random background image URL
            const randomIndex = Math.floor(Math.random() * backgroundImages.length);
            const randomImageUrl = backgroundImages[randomIndex];

            // Set the background image of the body
            const img = new Image();
            img.src = randomImageUrl;
            //document.body.style.backgroundImage = `url('${randomImageUrl}')`;
            document.body.style.backgroundImage = img;
        } catch(Exception){
            console.log("Error when retrieving background")
            console.log(Exception)
        }

    } else {
        // Array containing URLs of the background images
        const backgroundImages = [
            "/static/rocket.jpeg", // First image
            "/static/rocket_old.png" // Second image
        ];

        // Select a random background image URL
        const randomIndex = Math.floor(Math.random() * backgroundImages.length);
        const randomImageUrl = backgroundImages[randomIndex];

        // Set the background image of the body
        document.body.style.backgroundImage = `url('${randomImageUrl}')`;
    }
</script>

<script>
    // Function to enable/disable the custom fluid name input field
    function toggleCustomFluidNameInput() {
        const customFluidCheckbox = document.getElementById('custom_fluid_checkbox');
        const fluidNameDropdown = document.getElementById('fluid_name_dropdown');
        const fluidNameCustomInput = document.getElementById('fluid_name_custom');
        const fluidNameHelp = document.getElementById('fluid_name_help');

        // Enable/disable the custom fluid name input field based on the checkbox status
        fluidNameCustomInput.disabled = !customFluidCheckbox.checked;

        // Enable/disable the dropdown based on the checkbox status
        fluidNameDropdown.disabled = customFluidCheckbox.checked;

        // Show/hide the help text based on the checkbox status
        fluidNameHelp.style.display = customFluidCheckbox.checked ? 'block' : 'none';
    }

    // Add event listener to the checkbox
    document.getElementById('custom_fluid_checkbox').addEventListener('change', toggleCustomFluidNameInput);
</script>