<link rel="icon" type="image/png" href="/static/rocket_favicon.png">

<style>
    .navbar {
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%; /* Ensure the navbar takes full width */
        background-color: rgba(0, 0, 0, 0.9); /* Set background color with some opacity */
    }

    .navbar-brand {
        color: white; /* Set text color to white */
    }

    /* Custom styles for the button */
    #homebutton {
        background-color: white; /* Set background color to white */
        color: rgb(100, 100, 100); /* Set text color to black */
        border: 2px solid black; /* Add border */
        border-radius: 10px; /* Adjust border radius for a different shape */
        padding: 8px 16px; /* Adjust padding for button size */
    }

    #homebutton:hover {
        background-color: rgb(100, 100, 100); /* Change background color on hover */
        color: white; /* Change text color on hover */
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">SIFT </a>
    <a href="/">
        <button type="button" id="homebutton" class="btn btn-primary">Home</button>
    </a>
</nav>