<title>Home</title>

<style>
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; /* Repeat the background image vertically */
        background-color: black;
        color: white;
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
        height: 100vh;
    }

    .btn-container {
        position: absolute; /* Position relative to the container-fluid */
        top: 130%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .btn {
        background-color: #000000; /* Blue color */
        color: white;
        border: none;
        padding: 20px 200px;
        margin: 20px 0; /* Add some space between buttons */
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #ffffff; /* Darker blue color on hover */
    }

    #video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }
        
    #video-background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-fluid {
        display: flex;
        align-items: center; /* Ensure vertical centering */
        justify-content: center; /* Center content */
        padding: 10px 20px; /* Add padding to avoid sticking to the edges */
        position: relative;
    }

    .small-btn {
        position: absolute;
        right: 20px; /* Position it on the right with some padding */
        top: 20px;
        transform: translateY(-50%); /* Center it vertically */
        padding: 10px 40px; /* Smaller padding for a smaller button */
        font-size: 16px; /* Smaller font size */
    }

    .container-text {
        position: relative;
        top: 0; /* Adjusted position */
        left: 2%;
        width: 96%; /* Adjusted width */
        display: block;
        color: white;
        z-index: 1;
        overflow: visible;
        text-align: left;
    }

    .add-gap {
        margin-left: 5%; /* Adjust the gap as needed */
    }

    .container-text h1 {
            font-size: 18px;
        }

    @media (max-width: 768px) {
        .btn {
            padding: 20px 50px; /* Adjusted button padding for small screens */
            top: 10px;
            right: 10px;
            font-size: 12;
        }
        .small-btn {
            padding: 10px 20px;
        }
        .btn-container {
            top: 110%;
        }
        .container-fluid h1 {
            font-size: 30px; /* Adjust font size for small screens */
        }
    }

    .navbar {
        position: sticky;
        top: 100%;
        width: 100%; /* Ensure the navbar takes full width */
        background-color: rgba(0, 0, 0, 0.9); /* Set background color with some opacity */
    }

    .navbar-brand {
        color: white; /* Set text color to white */
    }

</style>

<div class="container-fluid">
    <h1 class="display-5">SIFT</h1>
    <button class="btn small-btn" id="buttonToAboutUs" onclick="window.location.href='about'">About</button>
</div>

<div class="container-text">
    <h1 class="display-5">SIFT is a collection of thermofluids solvers with the following properties</h1>
    <h1 class="display-5 add-gap">- Open source, free, documented <a href="https://gitlab.com/mehuld/sift">https://gitlab.com/mehuld/sift</a></h1>
    <h1 class="display-5 add-gap">- Uses the Python <a href="http://www.coolprop.org/coolprop/wrappers/Python/index.html">CoolProp</a> wrapper for accurate fluid properties</h1>
    <div class="btn-container">
        <button class="btn" id="buttonToCompressibleOrifice" onclick="window.location.href='compressibleorifice'">Compressible Orifice Solver</button>
        <button class="btn" onclick="window.location.href='incompressibleorifice'">Incompressible Orifice Solver</button>
        <button class="btn" onclick="window.location.href='propertylookup'">Fluid Property Lookup</button>
        <button class="btn" onclick="window.location.href='phasediagram'">Phase Diagram Generator</button>
        <button class="btn" onclick="window.location.href='joulethomson'"> Joule Thomson dT Solver</button>
    </div>
</div>

<div id="video-container">
    <video id="video-background" autoplay loop muted playsinline>
        <source src="/static/SLS_Launch.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>