<title>Joule Thomson dT Calculator</title>

<style>
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
        color: white;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    #joule_thomson_image {
        position: absolute;
        top: 200px;
        right: 3%;
        width: 400px;
        height: auto;
    }

    .btn {
        margin-top: 1%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .form-control {
        width: 100%;
        margin-bottom: 10px;
    }

    .result-section {
        width: 280px;
        padding: 1%;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0.5vw;
        right: 3%;
        position: absolute;
        margin-top: 400px;
    }

    @media (max-width: 768px) {
        .result-section {
            position: relative;
            bottom: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .text-details {
        padding: 1%;
        right: 3%;
        position: absolute;
        margin-top: 600px;
    }

    @media (max-width: 768px) {
        .text-details {
            position: relative;
            bottom: 0;
            margin-top: 0px;
            margin-bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container-fluid ml-auto">
    <h1 class="ml-auto display-5"><div style="text-align: center; padding: 2%;">Joule-Thomson dT Solver</div></h1>
    <div class="row">
        <div class="col-10 col-md-4 ml-auto">
            <form method="post" id="input_form" action="/">
                <div class="form-group">
                    <label for="upstream_pressure">Upstream Pressure:</label>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="upstream_pressure" name="upstream_pressure" placeholder="Enter pressure" required>
                        <div class="input-group-append">
                            <select class="custom-select" id="pressure_unit" name="pressure_unit">
                                <option value="Pa">Pa</option>
                                <option value="Bar">Bar</option>
                                <option value="MPa">MPa</option>
                                <option value="psia">psia</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Not a number
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="upstream_temperature">Upstream Temperature:</label>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="upstream_temperature" name="upstream_temperature" placeholder="Enter temperature" required>
                        <div class="input-group-append">
                            <select class="custom-select" id="temperature_unit" name="temperature_unit">
                                <option value="K">°K</option>
                                <option value="C">°C</option>
                                <option value="F">°F</option>
                                <option value="R">°R</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Not a number
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="downstream_pressure">Downstream Pressure:</label>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="downstream_pressure" name="downstream_pressure" placeholder="Enter pressure" required>
                        <div class="input-group-append">
                            <select class="custom-select" id="pressure_unit2" name="pressure_unit2">
                                <option value="Pa">Pa</option>
                                <option value="Bar">Bar</option>
                                <option value="MPa">MPa</option>
                                <option value="psia">psia</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Not a number
                        </div>
                    </div>
                </div>                
                <div class="form-group needs-validation" novalidate>
                    <label for="fluid_name_dropdown">Fluid Name:</label>
                    <div class="input-group">
                        <select class="custom-select" id="fluid_name_dropdown" name="fluid_name_dropdown" required>
                            <option value="Nitrogen">Nitrogen</option>
                            <option value="Oxygen">Oxygen</option>
                            <option value="Hydrogen">Hydrogen</option>
                            <option value="Helium">Helium</option>
                            <option value="Methane">Methane</option>
                        </select>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox ml-2">
                                <input type="checkbox" class="custom-control-input" id="custom_fluid_checkbox">
                                <label class="custom-control-label" for="custom_fluid_checkbox">Custom</label>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="fluid_name_custom" name="fluid_name_custom" placeholder="Enter fluid name" required disabled>
                    <small id="fluid_name_help" style="font-size: 0.7em; display: none;" class="form-text text-muted">The name must be recognized by CoolProp.</small>
                    <div class="invalid-feedback">
                        Not a valid fluid
                    </div>
                    <div class="form-group">
                        <label for="output_type">Downstream Temperature Units:</label>
                        <div class="input-group">
                            <select class="form-control" id="output_type" name="output_type" required>
                                <option value="K">°K</option>
                                <option value="C">°C</option>
                                <option value="F">°F</option>
                                <option value="R">°R</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" id="calculateButton" class="btn btn-primary">Calculate</button>
            </form>
        </div>
    

        <div class="col-1 col-md-4"></div>
        <div class="col-0 col-md-4"></div>
            <div class="result-section" style="max-width: 100%;">
                <p id="result">Results: <span>{{ result }}</span></p>
            </div>
            <div class="media d-none d-md-block">
                <img src="/static/JouleThomson.png" style="max-width: 100%;" alt="Joule-Thomson Effect" id="joule_thomson_image">
            </div>
            <div class="text-details" style="max-width: 100%;">Open source, free, documented <a href="https://gitlab.com/mehuld/sift">https://gitlab.com/mehuld/sift</a>
                <br>
                Accepted Coolprop <a href="http://coolprop.org/fluid_properties/PurePseudoPure.html#list-of-fluids">custom fluid names</a>
            </div>
        </div>
    </div>
</div>

<script>
    function updateUnits() {
        var dropdown = document.getElementById("output_type");
        var unitSelect = document.getElementById("unit_select_output");
        unitSelect.innerHTML = "";

        // Add options based on dropdown selection
        switch (dropdown.value) {
            case "temperature":
                unitSelect.innerHTML += '<option value="C">°C</option>';
                unitSelect.innerHTML += '<option value="F">°F</option>>';
                unitSelect.innerHTML += '<option value="R">°R</option>>';
                unitSelect.innerHTML += '<option value="K">°K</option>>';

                break;
        }
    }

    updateUnits();
</script>

<script>
    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', function() {
        // Get references to elements
        const form = document.getElementById('input_form');
        const resultDiv = document.getElementById('result');
        const calculateButton = document.getElementById('calculateButton');

        // Add a click event listener to the Calculate button
        calculateButton.addEventListener('click', function() {
            console.log('In Calculating Handler');
            //Remove all invalid messages
            var elementsWithInvalidClass = document.querySelectorAll('.is-invalid');
            elementsWithInvalidClass.forEach(function(element) {
                element.classList.remove("is-invalid");
            })

            //Handle fluids/custom-fluids
            fluid_name = document.getElementById('fluid_name_dropdown').value
            isCustomFluid = document.getElementById('custom_fluid_checkbox').checked
            if(isCustomFluid){
                fluid_name = document.getElementById('fluid_name_custom').value
            }

            // Create an object to store form data
            const formData = {
                upstream_pressure: document.getElementById('upstream_pressure').value,
                upstream_temperature: document.getElementById('upstream_temperature').value,
                fluid_name: fluid_name,
                downstream_pressure: document.getElementById('downstream_pressure').value,
                output_type: document.getElementById('output_type').value,

                //Unit conversions
                pressure_unit: document.getElementById('pressure_unit').value,
                temperature_unit: document.getElementById('temperature_unit').value,
                pressure_unit2: document.getElementById('pressure_unit2').value,
            };
            console.log(formData);

            // Send an POST request to the server
            fetch('/joule-thomson-calc', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Calculate': true
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('data:', data);
                // Handle the response from the server
                const result = data.result;
                const coefficient = data.coefficient;

                if (typeof result === 'string' && result.startsWith('Error: ')) {
                    words = result.split(' ');
                    fieldName = words[1];
                    document.getElementById(fieldName).classList.add('is-invalid');
                }
                else if (typeof result === 'string' && result.indexOf('JSONFluidLibrary') != -1) {
                    document.getElementById('fluid_name_custom').classList.add('is-invalid');
                }
                // Update the result section on your page to show both result and coefficient
                if (result && coefficient){
                    resultDiv.innerHTML = `<div><strong>Final Temperature:</strong> ${result.toFixed(3)} °${document.getElementById('output_type').value}</div>
                    <div><strong>Joule-Thomson Coefficient:</strong> ${(1e6 * coefficient).toFixed(3)} K/MPa</div>`;
                }
                else{
                    resultDiv.innerHTML = `<div><strong>Error:</strong> Your input is not supported at this time.</div>`;
                }
            })

            .catch(error => {
                // Handle errors if the request fails
                console.error('Error:', error);
            });
        });
    });
</script>

<script>
    // Array containing URLs of the background images
    const backgroundImages = [
        "/static/rocket.jpeg", // First image
        "/static/rocket_old.png" // Second image
    ];

    // Select a random background image URL
    const randomIndex = Math.floor(Math.random() * backgroundImages.length);
    const randomImageUrl = backgroundImages[randomIndex];

    // Set the background image of the body
    document.body.style.backgroundImage = `url('${randomImageUrl}')`;
</script>


<script>
    // Function to enable/disable the custom fluid name input field
    function toggleCustomFluidNameInput() {
        const customFluidCheckbox = document.getElementById('custom_fluid_checkbox');
        const fluidNameDropdown = document.getElementById('fluid_name_dropdown');
        const fluidNameCustomInput = document.getElementById('fluid_name_custom');
        const fluidNameHelp = document.getElementById('fluid_name_help');

        // Enable/disable the custom fluid name input field based on the checkbox status
        fluidNameCustomInput.disabled = !customFluidCheckbox.checked;

        // remove dropdown value display when custom fluid is chosen
        if (customFluidCheckbox.checked)
            document.getElementById('fluid_name_dropdown').value = ""
    

        // Enable/disable the dropdown based on the checkbox status
        fluidNameDropdown.disabled = customFluidCheckbox.checked;

        // Show/hide the help text based on the checkbox status
        fluidNameHelp.style.display = customFluidCheckbox.checked ? 'block' : 'none';
    }

    // Add event listener to the checkbox
    document.getElementById('custom_fluid_checkbox').addEventListener('change', toggleCustomFluidNameInput);
</script>