<title>Phase Diagram</title>

<style>
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; /* Repeat the background image vertically */
        background-color: black;
        color: white;
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
        height: 100vh;
    }

    .btn {
        margin-top: 1%;
        display: block;
        margin-left: auto; /* Center the button horizontally */
        margin-right: auto; /* Center the button horizontally */
    }

    /* Adjust the size of form elements */
    .form-control {
        width: 100%; /* Make form elementake up full width */
        margin-bottom: 10px; /* Add some spacing between form elements */
    }

    .mt-sm-up {
    margin-top: 20px; /* Smaller margin for xs to sm devices */
    }

        /* This CSS targets elements with the class 'mt-md-up' only on medium devices and larger */
    @media (min-width: 768px) {
        .mt-md-up {
            margin-top: 40px; /* Adjust the value as needed */
        }
    }

</style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container-fluid ml-auto">
    <h1 class="ml-auto display-5"><div style="text-align: center; padding: 2%;">Phase Diagram Generator</div></h1>
    <div class = "row">
        <div class="col-md-4">
            <form method="post" id="input_form" action="/">
                <div class="form-group needs-validation mt-md-up" novalidate>
                    <label for="fluid_name_dropdown">Fluid Name:</label>
                    <div class="input-group">
                        <select class="custom-select" id="fluid_name_dropdown" name="fluid_name_dropdown" required>
                            <option value="Water">Water</option>
                            <option value="Nitrogen">Nitrogen</option>
                            <option value="Oxygen">Oxygen</option>
                            <option value="Methane">Methane</option>
                            <option value="Helium">Helium</option>
                            <option value="Air">Air</option>
                            <option value="Hydrogen">Hydrogen</option>
                            <option value="carbondioxide">Carbon Dioxide</option>
                            <option value="Neon">Neon</option>
                            <option value="Argon">Argon</option>
                        </select>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox ml-2">
                                <input type="checkbox" class="custom-control-input" id="custom_fluid_checkbox">
                                <label class="custom-control-label" for="custom_fluid_checkbox">Custom</label>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="fluid_name_custom" name="fluid_name_custom" placeholder="Enter fluid name" required disabled>
                    <small id="fluid_name_help" style="font-size: 0.7em; display: none;" class="form-text text-muted">The name must be recognized by CoolProp.</small>
                    <div class="invalid-feedback">
                        Not a valid fluid
                    </div>
                </div>
                <div class="form-group needs-validation" novalidate>
                    <div class="row">
                        <!-- Pressure Dropdown -->
                        <div class="col-6">
                            <label for="pressure_unit_dropdown">Pressure Unit:</label>
                            <div class="input-group">
                                <select class="custom-select" id="pressure_unit_dropdown" name="pressure_unit_dropdown" required>
                                    <option value="psi">Psi</option>
                                    <option value="Bar">Bar</option>
                                    <option value="Pa">Pa</option>
                                    <option value="MPa">MPa</option>
                                </select>
                            </div>
                        </div>
                        <!-- Temperature Dropdown -->
                        <div class="col-6">
                            <label for="temperature_unit_dropdown">Temperature Unit:</label>
                            <div class="input-group">
                                <select class="custom-select" id="temperature_unit_dropdown" name="temperature_unit_dropdown" required>
                                    <option value="K">Kelvin</option>
                                    <option value="C">Celsius</option>
                                    <option value="F">Fahrenheit</option>
                                    <option value="R">Rankine</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-details" style="max-width: 100%;">Open source, free, documented <a href="https://gitlab.com/mehuld/sift">https://gitlab.com/mehuld/sift</a>
                    <br> <!-- Break line for next text -->
                    Accepted Coolprop <a href="http://coolprop.org/fluid_properties/PurePseudoPure.html#list-of-fluids">custom fluid names</a>
                </div>
                <button type="button" id="calculateButton" class="btn btn-primary mt-sm-up">Generate Phase Diagram</button>
            </form>
            <div class="col-md-1 ml-auto"></div>
        </div>
            <div class="col-md-7 ml-auto mt-md-up mt-sm-up">
                <div id="result" style="width: 100%;"></div>
            </div>
    </div>
</div>

<script>
    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', function() {
        // Get references to elements
        const form = document.getElementById('input_form');
        const resultDiv = document.getElementById('result');
        const calculateButton = document.getElementById('calculateButton');

        // Add a click event listener to the Calculate button
        calculateButton.addEventListener('click', function() {
            console.log('In Calculating Handler');
            //Remove all invalid messages
            var elementsWithInvalidClass = document.querySelectorAll('.is-invalid');
            elementsWithInvalidClass.forEach(function(element) {
                element.classList.remove("is-invalid");
            })

            //Handle fluids/custom-fluids
            fluid_name = document.getElementById('fluid_name_dropdown').value
            isCustomFluid = document.getElementById('custom_fluid_checkbox').checked
            if(isCustomFluid){
                fluid_name = document.getElementById('fluid_name_custom').value
            }

            // Create an object to store form data
            const formData = {
                fluid_name: fluid_name,
                pressure_output_unit: document.getElementById('pressure_unit_dropdown').value,
                temperature_output_unit: document.getElementById('temperature_unit_dropdown').value
            };
            console.log(formData);

            // Send an POST request to the server
            fetch('/phase-diagram', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'image/png'
                },
                body: JSON.stringify(formData)
            })
            .then(response =>   {
                if (!response.ok) throw new Error('Network response was not ok');              
                return response.blob(); 
            })
            .then(blob => {
            const imageUrl = URL.createObjectURL(blob);
            document.getElementById('result').innerHTML = `<img src="${imageUrl}" alt="Phase Diagram" style="max-width: 100%; height: auto;">`;
            })
            .catch(error => {
                // Handle errors if the request fails
                console.error('Error:', error);
            });
        });
    });
</script>

<script>
    // Array containing URLs of the background images
    const backgroundImages = [
        "/static/rocket.jpeg", // First image
        "/static/rocket_old.png" // Second image
    ];

    // Select a random background image URL
    const randomIndex = Math.floor(Math.random() * backgroundImages.length);
    const randomImageUrl = backgroundImages[randomIndex];

    // Set the background image of the body
    document.body.style.backgroundImage = `url('${randomImageUrl}')`;
</script>

<script>
    // Function to enable/disable the custom fluid name input field
    function toggleCustomFluidNameInput() {
        const customFluidCheckbox = document.getElementById('custom_fluid_checkbox');
        const fluidNameDropdown = document.getElementById('fluid_name_dropdown');
        const fluidNameCustomInput = document.getElementById('fluid_name_custom');
        const fluidNameHelp = document.getElementById('fluid_name_help');

        // Enable/disable the custom fluid name input field based on the checkbox status
        fluidNameCustomInput.disabled = !customFluidCheckbox.checked;

        // Enable/disable the dropdown based on the checkbox status
        fluidNameDropdown.disabled = customFluidCheckbox.checked;

        // Show/hide the help text based on the checkbox status
        fluidNameHelp.style.display = customFluidCheckbox.checked ? 'block' : 'none';
    }

    // Add event listener to the checkbox
    document.getElementById('custom_fluid_checkbox').addEventListener('change', toggleCustomFluidNameInput);
</script>