<title>Fluids Property Lookup</title>

<style>
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; /* Repeat the background image vertically */
        background-color: black;
        color: white;
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
        height: 100vh;
    }

    .btn {
        margin-top: 1%;
        display: block;
        margin-left: auto; /* Center the button horizontally */
        margin-right: auto; /* Center the button horizontally */
    }

    /* Adjust the size of form elements */
    .form-control {
        width: 100%; /* Make form elements take up full width */
        margin-bottom: 10px; /* Add some spacing between form elements */
    }
    
    .result-section {
        width: 280px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0.5vw;
        left: 50%; /* Adjust the right offset as needed */
        position: relative;
        margin-top: 50px; /* Add margin-top */
        transform: translateX(-50%); /* Center horizontally */
    }

    @media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .result-section {
        position: relative; /* Use absolute positioning */
        bottom: 0; /* Position at the bottom of the container */
        margin-top: 30px;
        margin-bottom: 20px;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        }  
    }

    .text-details {
        padding: 1%;
        right: 10%; /* Adjust the right offset as needed */
        position: relative;
        margin-top: 0px; /* Add margin-top */
    }

    @media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .text-details {
        position: relative; /* Use absolute positioning */
        bottom: 0; /* Position at the bottom of the container */
        margin-top: 0px;
        margin-bottom: 20px;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        text-align: center;
        }  
    }

</style>

<div class="container-fluid ml-auto">
    <h1 class="ml-auto display-5"><div style="text-align: center; padding: 2%;">Fluids Property Lookup</div></h1>
    <div class = "row">
        <div class="col-10 col-md-10 ml-auto">
            <form method="post" id="input_form" action="/">
                <div class="form-group needs-validation" novalidate>
                    <label for="input_1_dropdown">Property 1:</label>
                    <div class="input-group">
                        <select class="custom-select" id="fluid_property_dropdown_1" name="fluid_property_dropdown_1" onchange="updateUnits1()" required>
                            <option value="P">Pressure</option>
                            <option value="T">Temperature</option>
                            <option value="D">Density</option>
                            <option value="Hmass">Enthalpy</option>
                            <option value="Smass">Entropy</option>
                        </select>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox ml-2">
                                <input type="checkbox" class="custom-control-input" id="custom_fluid_property_checkbox_1">
                                <label class="custom-control-label" for="custom_fluid_property_checkbox_1">Custom</label>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="custom_fluid_property_1" name="custom_fluid_property_1" placeholder="Enter fluid property name" required disabled>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="value_1" name="value_1" placeholder="Enter value" style="margin-top: -10px;" required>
                        <div class="input-group-append">
                            <select class="custom-select" id="unit_select_1" style="margin-top: -10px;">
                                <!-- Options will be dynamically appended here -->
                            </select>
                        </div>
                    </div>
                    <small id="fluid_name_help" style="font-size: 0.7em; display: none;" class="form-text text-muted">The name must be recognized by CoolProp.</small>
                    <div class="invalid-feedback">
                        Not a valid fluid
                    </div>
                    <div style="margin-bottom: 30px;"></div>

                    <!-- Property 2 -->
                    <label for="input_2_dropdown">Property 2:</label>
                    <div class="input-group">
                        <select class="custom-select" id="fluid_property_dropdown_2" name="fluid_property_dropdown_2" onchange="updateUnits2()" required>
                            <option value="P">Pressure</option>
                            <option value="T">Temperature</option>
                            <option value="D">Density</option>
                            <option value="Hmass">Enthalpy</option>
                            <option value="Smass">Entropy</option>
                        </select>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox ml-2">
                                <input type="checkbox" class="custom-control-input" id="custom_fluid_property_checkbox_2">
                                <label class="custom-control-label" for="custom_fluid_property_checkbox_2">Custom</label>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="custom_fluid_property_2" name="custom_fluid_property_2" placeholder="Enter fluid property name" required disabled>
                    <div class="input-group">
                        <input type="number" step="0.0001" class="form-control" id="value_2" name="value_2" placeholder="Enter value" style="margin-top: -10px;" required>
                        <div class="input-group-append">
                            <select class="custom-select" id="unit_select_2" style="margin-top: -10px;">
                                <!-- Options will be dynamically appended here -->
                            </select>
                        </div>
                    </div>
                    <small id="fluid_name_help_2" style="font-size: 0.7em; display: none;" class="form-text text-muted">The name must be recognized by CoolProp.</small>
                    <div class="invalid-feedback">
                        Not a valid fluid
                    </div>
                    <div style="margin-bottom: 30px;"></div>

                    <!-- Fluid name -->
                    <div class="form-group needs-validation" novalidate>
                        <label for="fluid_name_dropdown">Fluid Name:</label>
                        <div class="input-group">
                            <select class="custom-select" id="fluid_name_dropdown" name="fluid_name_dropdown" required>
                                <option value="Water">Water</option>
                                <option value="Air">Air</option>
                                <option value="Helium">Helium</option>
                                <option value="Nitrogen">Nitrogen</option>
                                <option value="Oxygen">Oxygen</option>
                                <option value="carbondioxide">Carbon Dioxide</option>
                                <option value="Hydrogen">Hydrogen</option>
                                <option value="Propane">Propane</option>
                                <option value="ethane">Ethane</option>
                                <option value="Methane">Methane</option>
                            </select>
                            <div class="input-group-append">
                                <div class="custom-control custom-checkbox ml-2">
                                    <input type="checkbox" class="custom-control-input" id="custom_fluid_checkbox">
                                    <label class="custom-control-label" for="custom_fluid_checkbox">Custom</label>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="fluid_name_custom" name="fluid_name_custom" placeholder="Enter fluid name" required disabled>
                        <small id="fluid_name_help3" style="font-size: 0.7em; display: none;" class="form-text text-muted">The name must be recognized by CoolProp.</small>
                        <div class="invalid-feedback">
                            Not a valid fluid
                        </div>
                    </div>
                    <div style="margin-bottom: 30px;"></div>

                    <!-- Output Property -->
                    <label for="output_dropdown">Output Property:</label>
                    <div class="input-group">
                        <select class="custom-select" id="output_property_dropdown" name="output_property_dropdown" onchange="updateUnitsOutput()" required>
                            <option value="P">Pressure</option>
                            <option value="T">Temperature</option>
                            <option value="D">Density</option>
                            <option value="Hmass">Enthalpy</option>
                            <option value="Smass">Entropy</option>
                            <option value="CPMASS">Cp</option>
                            <option value="VISCOSITY">Viscosity</option>
                            <option value="L">Thermal conductivity</option>
                        </select>
                        <div class="input-group-append">
                            <select class="custom-select" id="unit_select_output">
                                <!-- Options will be dynamically appended here -->
                            </select>
                        </div>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox ml-2">
                                <input type="checkbox" class="custom-control-input" id="custom_fluid_property_checkbox_output">
                                <label class="custom-control-label" for="custom_fluid_property_checkbox_output">Custom</label>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="custom_fluid_property_output" name="custom_fluid_property_output" placeholder="Enter fluid property name" required disabled>
                    <small id="fluid_name_help_output" style="font-size: 0.7em; display: none;" class="form-text text-muted">The name must be recognized by CoolProp.</small>
                    <div class="invalid-feedback">
                        Not a valid fluid
                    </div>

                </div>
                <button type="button" id="calculateButton" class="btn btn-primary">Calculate</button>
            </form>
        </div>
    
        <div class="col-1 col-md-1"></div>
        <div class="col-0 col-md-0"></div>
            <div class="result-section" style="max-width: 100%;">
                <p id="result">Result: <span>{{ result }}</span></p>
            </div>
            <div class="text-details" style="max-width: 100%;">Open source, free, documented <a href="https://gitlab.com/mehuld/sift">https://gitlab.com/mehuld/sift</a>
                <br> <!-- Break line for next text -->
                Accepted Coolprop <a href="http://coolprop.org/fluid_properties/PurePseudoPure.html#list-of-fluids">custom fluid names</a>
                <br> <!-- Break line for next text -->
                Accepted Coolprop <a href="http://www.coolprop.org/coolprop/HighLevelAPI.html#table-of-string-inputs-to-propssi-function">custom fluid property names</a>
            </div>
        </div>
    </div>
</div>


<script>
    // this script updates the unit selection dropdown based on which property is selected
    function updateUnits1() {

        var dropdown = document.getElementById("fluid_property_dropdown_1");
        var unitSelect = document.getElementById("unit_select_1");
        unitSelect.innerHTML = ""; // Clear previous options

        // Add options based on dropdown selection
        switch (dropdown.value) {
            case "P":
                unitSelect.innerHTML += '<option value="Pa">Pa</option>';
                unitSelect.innerHTML += '<option value="Bar">Bar</option>';
                unitSelect.innerHTML += '<option value="MPa">MPa</option>';
                unitSelect.innerHTML += '<option value="psia">psia</option>';
                break;
            case "T":
                unitSelect.innerHTML += '<option value="K">°K</option>';
                unitSelect.innerHTML += '<option value="C">°C</option>';
                unitSelect.innerHTML += '<option value="F">°F</option>';
                unitSelect.innerHTML += '<option value="R">°R</option>';
                break;
            case "D":
                unitSelect.innerHTML += '<option value="kg/m^3">kg/m^3</option';
                unitSelect.innerHTML += '<option value="lb/ft^3">lb/ft^3</option';
                break;
            case "Hmass":
                unitSelect.innerHTML += '<option value="J/kg">J/kg</option';
                unitSelect.innerHTML += '<option value="kJ/kg">kJ/kg</option';
                unitSelect.innerHTML += '<option value="cal/g">cal/g</option';
                unitSelect.innerHTML += '<option value="BTU/lb">BTU/lb</option';
                break;
            case "Smass":
                unitSelect.innerHTML += '<option value="J/kgK">J/kgK</option';
                unitSelect.innerHTML += '<option value="BTU/lbR">BTU/lbR</option';
                break;
        }
    }

    function updateUnits2() {

        var dropdown2 = document.getElementById("fluid_property_dropdown_2");
        var unitSelect2 = document.getElementById("unit_select_2");
        unitSelect2.innerHTML = ""; // Clear previous options

         // Add options based on dropdown selection
         switch (dropdown2.value) {
            case "P":
                unitSelect2.innerHTML += '<option value="Pa">Pa</option>';
                unitSelect2.innerHTML += '<option value="Bar">Bar</option>';
                unitSelect2.innerHTML += '<option value="MPa">MPa</option>';
                unitSelect2.innerHTML += '<option value="psia">psia</option>';
                break;
            case "T":
                unitSelect2.innerHTML += '<option value="K">°K</option>';
                unitSelect2.innerHTML += '<option value="C">°C</option>';
                unitSelect2.innerHTML += '<option value="F">°F</option>';
                unitSelect2.innerHTML += '<option value="R">°R</option>';
                break;
            case "D":
                unitSelect2.innerHTML += '<option value="kg/m^3">kg/m^3</option';
                unitSelect2.innerHTML += '<option value="lb/ft^3">lb/ft^3</option';
                break;
            case "Hmass":
                unitSelect2.innerHTML += '<option value="J/kg">J/kg</option';
                unitSelect2.innerHTML += '<option value="kJ/kg">kJ/kg</option';
                unitSelect2.innerHTML += '<option value="cal/g">cal/g</option';
                unitSelect2.innerHTML += '<option value="BTU/lb">BTU/lb</option';
                break;
            case "Smass":
                unitSelect2.innerHTML += '<option value="J/kgK">J/kgK</option';
                unitSelect2.innerHTML += '<option value="BTU/lbR">BTU/lbR</option';
                break;
        }
    }

    function updateUnitsOutput() {

            var dropdownOutput = document.getElementById("output_property_dropdown");
            var unitSelectOutput = document.getElementById("unit_select_output");
            unitSelectOutput.innerHTML = ""; // Clear previous options

            switch (dropdownOutput.value) {
                case "P":
                    unitSelectOutput.innerHTML += '<option value="Pa">Pa</option>';
                    unitSelectOutput.innerHTML += '<option value="Bar">Bar</option>';
                    unitSelectOutput.innerHTML += '<option value="MPa">MPa</option>';
                    unitSelectOutput.innerHTML += '<option value="psia">psia</option>';
                    break;
                case "T":
                    unitSelectOutput.innerHTML += '<option value="K">°K</option>';
                    unitSelectOutput.innerHTML += '<option value="C">°C</option>';
                    unitSelectOutput.innerHTML += '<option value="F">°F</option>';
                    unitSelectOutput.innerHTML += '<option value="R">°R</option>';
                    break;
                case "D":
                    unitSelectOutput.innerHTML += '<option value="kg/m^3">kg/m^3</option';
                    unitSelectOutput.innerHTML += '<option value="lb/ft^3">lb/ft^3</option';
                    break;
                case "Hmass":
                    unitSelectOutput.innerHTML += '<option value="J/kg">J/kg</option';
                    unitSelectOutput.innerHTML += '<option value="kJ/kg">kJ/kg</option';
                    unitSelectOutput.innerHTML += '<option value="cal/g">cal/g</option';
                    unitSelectOutput.innerHTML += '<option value="BTU/lb">BTU/lb</option';
                    break;
                case "Smass":
                    unitSelectOutput.innerHTML += '<option value="J/kgK">J/kgK</option';
                    unitSelectOutput.innerHTML += '<option value="BTU/lbR">BTU/lbR</option';
                    break;
                case "CPMASS":
                    unitSelectOutput.innerHTML += '<option value="J/kgK">J/kgK</option';
                    unitSelectOutput.innerHTML += '<option value="BTU/lbR">BTU/lbR</option';
                    break;
                case "VISCOSITY":
                    unitSelectOutput.innerHTML += '<option value="Ns/m^2">Ns/m^2</option';
                    unitSelectOutput.innerHTML += '<option value="cP">cP</option';
                    unitSelectOutput.innerHTML += '<option value="lbs/ft^2">lbs/ft^2</option';
                    break;
                case "L":
                    unitSelectOutput.innerHTML += '<option value="W/mK">W/mK</option';
                    unitSelectOutput.innerHTML += '<option value="BTU/hftF">BTU/hftF</option';
                    break;
            }
        }

    // Call updateUnits initially to populate units based on default selection
    updateUnits1();
    updateUnits2();
    updateUnitsOutput();
</script>

<script>
    // this script reads in all the inputted data and packages it into a JSON
    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', function() {
        // Get references to elements
        const form = document.getElementById('input_form');
        const resultDiv = document.getElementById('result');
        const calculateButton = document.getElementById('calculateButton');

        // Add a click event listener to the Calculate button
        calculateButton.addEventListener('click', function() {
            console.log('In Calculating Handler');
            //Remove all invalid messages
            var elementsWithInvalidClass = document.querySelectorAll('.is-invalid');
            elementsWithInvalidClass.forEach(function(element) {
                element.classList.remove("is-invalid");
            })

            //Handle fluids/custom-fluids
            fluid_property = document.getElementById('fluid_property_dropdown_1').value
            isCustomFluid = document.getElementById('custom_fluid_property_checkbox_1').checked
            if(isCustomFluid){
                fluid_property = document.getElementById('custom_fluid_property_1').value
            }

            fluid_property2 = document.getElementById('fluid_property_dropdown_2').value
            isCustomFluid2 = document.getElementById('custom_fluid_property_checkbox_2').checked
            if(isCustomFluid2){
                fluid_property2 = document2.getElementById('custom_fluid_property_2').value
            }

            fluid_name = document.getElementById('fluid_name_dropdown').value
            isCustomFluid3 = document.getElementById('custom_fluid_checkbox').checked
            if(isCustomFluid3){
                fluid_name = document.getElementById('fluid_name_custom').value
            }

            output_fluid_property = document.getElementById('output_property_dropdown').value
            isCustomFluidOutput = document.getElementById('custom_fluid_property_checkbox_output').checked
            if(isCustomFluidOutput){
                output_fluid_property = document.getElementById('custom_fluid_property_output').value
            }

            // Create an object to store form data
            const formData = {
                value_1: document.getElementById('value_1').value,
                value_2: document.getElementById('value_2').value,

                //Unit conversions
                unit_select_1: document.getElementById('unit_select_1').value,
                unit_select_2: document.getElementById('unit_select_2').value,
                unit_select_output: document.getElementById('unit_select_output').value,

                //Fluid names
                fluid_property: fluid_property,
                fluid_property2: fluid_property2,
                output_fluid_property: output_fluid_property,
                fluid_name : fluid_name
            };
            console.log(formData);

            // Send an POST request to the server
            fetch('/property-select-calc', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Calculate': true
                },
                body: JSON.stringify(formData)
            })
            .then(response =>
                    response.json()
            )
            .then(data => {
                console.log('data:',data)
                // Handle the response from the server
                const result = data.result;

                if (typeof result === 'string' && result.startsWith('Error: ')) {
                    words = result.split(' ');
                    fieldName = words[1];
                    document.getElementById(fieldName).classList.add('is-invalid')
                }
                else if (typeof result === 'string' && result.indexOf('JSONFluidLibrary') != -1){
                    document.getElementById('custom_fluid_property_1').classList.add('is-invalid')
                    document.getElementById('custom_fluid_property_2').classList.add('is-invalid')
                }
                // Update the result section on your page
                resultDiv.textContent = `Result: ${result}`;
            })
            .catch(error => {
                // Handle errors if the request fails
                console.error('Error:', error);
            });
        });
    });
</script>

<script>
    // this script randomly changes the background image
    // Array containing URLs of the background images
    const backgroundImages = [
        "/static/rocket.jpeg", // First image
        "/static/rocket_old.png" // Second image
    ];

    // Select a random background image URL
    const randomIndex = Math.floor(Math.random() * backgroundImages.length);
    const randomImageUrl = backgroundImages[randomIndex];

    // Set the background image of the body
    document.body.style.backgroundImage = `url('${randomImageUrl}')`;
</script>

<script>
    // this script allows for custom property values to be inputted
    // Wait for the DOM to be fully loaded
    document.addEventListener('DOMContentLoaded', function() {
        // Store the default options for unit_select_1 when the page loads
        let defaultUnitOptions;
        let defaultFluidDropdown;

        // Get the default options for unit_select_1
        const unitSelect = document.getElementById('unit_select_1');
        defaultUnitOptions = unitSelect.innerHTML;
        const fluidNameDropdown = document.getElementById('fluid_property_dropdown_1');
        defaultFluidDropdown = fluidNameDropdown.innerHTML;

        // Function to enable/disable the custom fluid name input field
        function toggleCustomFluidPropertyInput() {
            const customFluidCheckbox = document.getElementById('custom_fluid_property_checkbox_1');
            const fluidNameCustomInput = document.getElementById('custom_fluid_property_1');
            const fluidNameHelp = document.getElementById('fluid_name_help');

            // Enable/disable the custom fluid name input field based on the checkbox status
            fluidNameCustomInput.disabled = !customFluidCheckbox.checked;

            // Enable/disable the dropdown based on the checkbox status
            fluidNameDropdown.disabled = customFluidCheckbox.checked;
            unitSelect.disabled = customFluidCheckbox.checked;

            // Clear the content of unit_select_1 if the checkbox is checked
            if (customFluidCheckbox.checked) {
                unitSelect.innerHTML = '<option value="SI">SI</option>';
            } else {
                // Restore the default options for unit_select_1
                unitSelect.innerHTML = defaultUnitOptions;
            }

            if (customFluidCheckbox.checked) {
                fluidNameDropdown.innerHTML = '<option value=""></option>';
            } else {
                // Restore the default options for unit_select_1
                fluidNameDropdown.innerHTML = defaultFluidDropdown;
            }

            // Show/hide the help text based on the checkbox status
            fluidNameHelp.style.display = customFluidCheckbox.checked ? 'block' : 'none';
        }

        // Add event listener to the checkbox
        document.getElementById('custom_fluid_property_checkbox_1').addEventListener('change', toggleCustomFluidPropertyInput);

        // Store the default options for unit_select_2 when the page loads
        let defaultUnitOptions2;
        let defaultFluidDropdown2;

        // Get the default options for unit_select_2
        const unitSelect2 = document.getElementById('unit_select_2');
        defaultUnitOptions2 = unitSelect2.innerHTML;
        const fluidNameDropdown2 = document.getElementById('fluid_property_dropdown_2');
        defaultFluidDropdown2 = fluidNameDropdown2.innerHTML;

        // Function to enable/disable the custom fluid name input field
        function toggleCustomFluidPropertyInput2() {
            const customFluidCheckbox2 = document.getElementById('custom_fluid_property_checkbox_2');
            const fluidNameCustomInput2 = document.getElementById('custom_fluid_property_2');
            const fluidNameHelp2 = document.getElementById('fluid_name_help_2');

            // Enable/disable the custom fluid name input field based on the checkbox status
            fluidNameCustomInput2.disabled = !customFluidCheckbox2.checked;

            // Enable/disable the dropdown based on the checkbox status
            fluidNameDropdown2.disabled = customFluidCheckbox2.checked;
            unitSelect2.disabled = customFluidCheckbox2.checked;

            // Clear the content of unit_select_2 and fluid_property_dropdown_2 if the checkbox is checked
            if (customFluidCheckbox2.checked) {
                unitSelect2.innerHTML = '<option value="SI">SI</option>';
            } else {
                // Restore the default options for unit_select_1
                unitSelect2.innerHTML = defaultUnitOptions2;
            }

            if (customFluidCheckbox2.checked) {
                fluidNameDropdown2.innerHTML = '<option value=""></option>';
            } else {
                // Restore the default options for unit_select_1
                fluidNameDropdown2.innerHTML = defaultFluidDropdown2;
            }

            // Show/hide the help text based on the checkbox status
            fluidNameHelp2.style.display = customFluidCheckbox2.checked ? 'block' : 'none';
        }
        document.getElementById('custom_fluid_property_checkbox_2').addEventListener('change', toggleCustomFluidPropertyInput2);

        function toggleCustomFluidNameInput() {
            const customFluidCheckbox3 = document.getElementById('custom_fluid_checkbox');
            const fluidNameDropdown3 = document.getElementById('fluid_name_dropdown');
            const fluidNameCustomInput3 = document.getElementById('fluid_name_custom');
            const fluidNameHelp3 = document.getElementById('fluid_name_help3');

            // Enable/disable the custom fluid name input field based on the checkbox status
            fluidNameCustomInput3.disabled = !customFluidCheckbox3.checked;

            // Enable/disable the dropdown based on the checkbox status
            fluidNameDropdown3.disabled = customFluidCheckbox3.checked;

            // Show/hide the help text based on the checkbox status
            fluidNameHelp3.style.display = customFluidCheckbox3.checked ? 'block' : 'none';
        }

        // Add event listener to the checkbox
        document.getElementById('custom_fluid_checkbox').addEventListener('change', toggleCustomFluidNameInput);

        // Store the default options for unit_select_2 when the page loads
        let defaultUnitOptionsOutput;
        let defaultFluidDropdownOutput;

        // Get the default options for unit_select_2
        const unitSelectOutput = document.getElementById('unit_select_output');
        defaultUnitOptionsOutput = unitSelectOutput.innerHTML;
        const fluidNameDropdownOutput = document.getElementById('output_property_dropdown');
        defaultFluidDropdownOutput = fluidNameDropdownOutput.innerHTML;

                // Function to enable/disable the custom fluid name input field
        function toggleCustomFluidPropertyOutput() {
            const customFluidCheckboxOutput = document.getElementById('custom_fluid_property_checkbox_output');
            const fluidNameCustomOutput = document.getElementById('custom_fluid_property_output');
            const fluidNameHelpOutput = document.getElementById('fluid_name_help_output');

            // Enable/disable the custom fluid name input field based on the checkbox status
            fluidNameCustomOutput.disabled = !customFluidCheckboxOutput.checked;

            // Enable/disable the dropdown based on the checkbox status
            fluidNameDropdownOutput.disabled = customFluidCheckboxOutput.checked;
            unitSelectOutput.disabled = customFluidCheckboxOutput.checked;

            // Clear the content of unit_select_2 and fluid_property_dropdown_2 if the checkbox is checked
            if (customFluidCheckboxOutput.checked) {
                unitSelectOutput.innerHTML = '<option value="SI">SI</option>';
            } else {
                // Restore the default options for unit_select_1
                unitSelectOutput.innerHTML = defaultUnitOptionsOutput;
            }

            if (customFluidCheckboxOutput.checked) {
                fluidNameDropdownOutput.innerHTML = '<option value=""></option>';
            } else {
                // Restore the default options for unit_select_1
                fluidNameDropdownOutput.innerHTML = defaultFluidDropdownOutput;
            }

            // Show/hide the help text based on the checkbox status
            fluidNameHelpOutput.style.display = customFluidCheckboxOutput.checked ? 'block' : 'none';
        }

        document.getElementById('custom_fluid_property_checkbox_output').addEventListener('change', toggleCustomFluidPropertyOutput);
    });
</script>

