<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}
    <!-- Default header content (if any) goes here -->
        {% include 'components/Header.html' %}
    {% endblock %}
    <!-- Add common stylesheets and scripts here -->
</head>
<body>
    {% block content %}
    <!-- Default main content goes here -->
        {% include 'components/IncompressibleOrificeCalc.html' %}
    {% endblock %}

    <!-- You can also include a footer block here if needed -->
</body>
</html>